@{
    ViewData["Title"] = "Home";

}
<!-- End Navigation -->
<!-- Start Intro -->
<section id="slider">
    <div class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" id="rev_slider_280_1_wrapper" style="background-color:#fff;padding:0px;height:1080px;">
        <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
        <div class="rev_slider fullscreenbanner" id="rev_slider_nagency" style="display:none;">
            <ul style="display:none;">

                <!-- slider Item 1 -->
                <li data-index="rs-1" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="N.Agency" data-description="">
                    <img src="~/img/slider/maior_zS3X8yrkX994SS2voDiS7_0tD1gXeTqY.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
                         id="slide-1-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']"
                         data-fontsize="['70','60','60','36']"
                         data-lineheight="['70','60','60','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05"
                         style="z-index: 5; white-space: nowrap;">
                        BEM VINDO A MAKE HOME
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-resizeme white-color rs-parallaxlevel-4"
                         id="slide-1-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
                         data-fontsize="['28','24','24','20']"
                         data-lineheight="['28','24','36','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; white-space: nowrap;">
                        SOLUÇÃO EM CONSTRUÇÃO
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption rs-parallaxlevel-5"
                         id="slide-1-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="">
                        <a data-scroll href='/Home/Contato' class='btn btn-main btn-white'>Contato</a>
                    </div>

                </li>

                <!-- slider Item 2 -->
                <li data-index="rs-3" data-transition="slideremoveright" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off">
                    <img src="~/img/slider/ft2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme black-color rs-parallaxlevel-3"
                         id="slide-2-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-85']"
                         data-fontsize="['70','60','60','36']"
                         data-lineheight="['70','60','60','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rx:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05"
                         style="z-index: 5; white-space: nowrap;">
                        Engenharia & Valor
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme NotGeneric-Text black-color rs-parallaxlevel-4"
                         id="slide-2-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-10']"
                         data-fontsize="['18','18','20','14']"
                         data-lineheight="['28','28','32','24']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; color:black ">
                        
                          <h3>>Desenvolvimento e Investimento constante em tecnologia.</h3>
                       
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption rs-parallaxlevel-5"
                         id="slide-2-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['0','50','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['105','105','115','85']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="">
                        <a data-scroll href='/Home/Contato' class='btn btn-main btn-black'>Contato</a>
                    </div>

                </li>

                <!-- slider Item 3 -->
                <li data-index="rs-2" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off">
                    <img alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="5000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="110" src="~/img/slider/Por-que-sua-empresa-precisa-de-um-software-para-construção-civil.jpg">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
                         id="slide-3-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-75','-70','-70','-45']"
                         data-fontsize="['70','60','60','36']"
                         data-lineheight="['70','60','60','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05"
                         style="z-index: 5; white-space: nowrap;">
                        Equipe Altamente Preparada.
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle white-color tp-resizeme rs-parallaxlevel-2"
                         id="slide-3-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['28','24','24','20']"
                         data-lineheight="['28','24','36','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6;">
                        Qualidade e atendimento dos prazos
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption rs-parallaxlevel-5"
                         id="slide-3-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['90','90','100','75']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="">
                        <a href='/Home/Contato' class='btn btn-main btn-transparent-light'>Entre em Contato</a>
                    </div>

                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</section>
<!-- End Intro -->
<!-- Start Portfolio -->
<section id="portfolio" class="light-bg p-top-80 p-bottom-80">
    <div class="container">

        <!-- Section Title -->
        <div class="section-title text-center m-bottom-30">
            <h2><strong>SOBRE NÓS</strong></h2>
            <div class="divider-center-small"></div>
        </div>




    </div> <!-- /.container -->
</section>
<!-- End Portfolio -->
<!-- Start Regular Section -->
<section class="p-top-80 p-bottom-80">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <!-- Section Title -->
                <div class="m-bottom-30">
                    <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">UM POUCO DA MAKE HOME</h2>
                    <div class="divider-small wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s"></div>
                </div>

                <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                    <p> A Make Home é uma empresa especializada na construção de empreendimentos imobiliários residenciais,comerciais e industriais, que Cria projetos exclusivos e leva a nossa assinatura de qualidade.  </p>
                    <p> Executamos obras com segurança e soluções tecnológicas eficientes, por meio de uma gestão profissionalizada , garantindo a solidez do negócio e o respeito total aos clientes, colaboradores,fornecedores e sociedade,agindo sempre dentro dos valores da sustentabilidade. </p>

                </div>

                <a data-scroll href="/Home/Contato" class="m-top-30 m-bottom-30 btn btn-main wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">CONTATO</a>


            </div> <!-- /.col -->

            <div class="col-md-6">

                <div class="feature-image">
                    <img src="~/img/sample1.png" alt="Feature Image" class="img-responsive wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.6s" />
                </div>

            </div> <!-- /.col -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<!-- End Regular Section -->
<!-- Start Video Section -->
<section class="video-bg overlay-dark" style="background-image:url(~/img/video-bg.jpg)">
    <div class="js-height-full container">
        <!-- video setting -->
        <div class="video-player" data-property="{videoURL:'https://youtu.be/dwfjayxRvqw',containment:'.video-bg',autoPlay:true, mute:true, loop:true, showControls:false, startAt:0, opacity:1}"></div>

        <div class="vertical-section">
            <div class="vertical-content">
                <div class="video-caption text-center white-color">
                    <h2 class="p-top-20">Watch Our Video</h2>
                    <div class="divider-center-small divider-white"></div>
                    <h6 class="p-bottom-20">Youtube Video Background {Full Height}</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->
<!-- Start Skill/Why Choose Us -->
<section class="light-bg p-top-80 p-bottom-40">
    <div class="container">
        <div class="row">

            <!-- /.col -->

            <div class="col-md-6 p-bottom-40">

                <!-- Section Title Right -->
                <div class="m-bottom-30">
                    <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Nossa Missão</h2>
                    <div class="divider-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                </div>

                <!-- === Accordion === -->
                <div id="accordion" class="panel-group wow fadeIn" data-wow-delay="0.6s">

                    <!-- === Accordion item 1 === -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Foco na satisfação do cliente</a>
                            </h4>
                        </div>


                        <!-- === Accordion item 2 === -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Respeito ao meio ambiente e sociedade </a>
                                </h4>
                            </div>


                            <!-- === Accordion item 3 === -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Ética e transparência </a>
                                    </h4>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Qualidade e oportunidade </a>
                                        </h4>
                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Investimento em inovações </a>
                                            </h4>
                                        </div>

                                    </div>

                                </div> <!-- /.panel-group -->

                            </div> <!-- /.col -->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
</section>
<!-- End Skill/Why Choose Us -->
<!-- Start Stat -->
<section id="stat" class="p-top-80 p-bottom-40">
    <div class="container">
        <div class="row">

            <!-- === Stats Item 1 === -->
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-40">
                <div class="stat-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="stat-item-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="stat-item-number">
                        177
                    </div>
                    <div class="stat-item-text">
                        Projects<br>Done
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- === Stats Item 2 === -->
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-40">
                <div class="stat-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="stat-item-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="stat-item-number">
                        123
                    </div>
                    <div class="stat-item-text">
                        Happy<br>Clients
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- === Stats Item 3 === -->
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-40">
                <div class="stat-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="stat-item-icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="stat-item-number">
                        999
                    </div>
                    <div class="stat-item-text">
                        Likes<br>Gained
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- === Stats Item 4 === -->
            <div class="col-md-3 col-sm-6 col-xs-6 p-bottom-40">
                <div class="stat-item wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="stat-item-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="stat-item-number">
                        101
                    </div>
                    <div class="stat-item-text">
                        Awards<br>Received
                    </div>
                </div>
            </div> <!-- /.col -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<!-- End Stat -->
