
@{
    ViewData["Title"] = "Services";
}

<!-- Start Service -->
<section id="service" class="p-top-80 p-bottom-80">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Section Title -->
                <div class="section-title text-center m-bottom-40">
                    <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s"><strong>SERVIÇOS</strong></h2>
                    <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                    <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><em>Atuamos na construção de projetos e obras de variados segmentos residencial,  comercial e industrial Trabalhado com inovações , plantas inteligentes , padrões de acabamento superiores e tecnologia.</em></p>
                </div>
            </div> <!-- /.col -->
        </div>  <!-- /.row -->


        <div class="row">

            <!-- Service Item 1 -->
            <div class="col-md-3 col-sm-6 m-bottom-20">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="service-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h4>Entrega  Rápida </h4>
                    <div class="service-text">
                        <p>
                            100% dos empreendimentos entregues dentro do prazo. Segurança e eficiência para atender a todos os padrões de critério para entregar o seu projeto.                            .
                        </p>
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- Service Item 2 -->
            <div class="col-md-3 col-sm-6 m-bottom-20">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="service-icon">
                        <i class="fa fa-magic" aria-hidden="false"></i>
                    </div>
                    <h4>Design Moderno</h4>
                    <div class="service-text">
                        <p>Design  de alto padrão, com ambientes seguros, espaçosos e confortáveis, arquitetados para melhor experiência e qualidade de vida para sua família,comércio ou indústria.</p>
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- Service Item 3 -->
            <div class="col-md-3 col-sm-6 m-bottom-20">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="service-icon">
                        <i class="fa fa-tty" aria-hidden="true"></i>
                    </div>
                    <h4>Atendimento Personalizado</h4>
                    <div class="service-text">
                        <p>Equipe treinada para entender as necessidades de cada cliente, oferecendo empreendimentos que estejam de acordo com a necessidade do nosso cliente.</p>
                    </div>
                </div>
            </div> <!-- /.col -->
            <!-- Service Item 4 -->
            <div class="col-md-3 col-sm-6">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="service-icon">
                        <i class="fa fa-dollar" aria-hidden="true"></i>
                    </div>
                    <h4>Valores Acessíveis </h4>
                    <div class="service-text">
                        <p>Sem perder a excelência no acabamento, os projetos Make Home Construtora também pensam no seu bem-estar financeiro para facilitar a aquisição do seu empreendimento imobiliário.</p>
                    </div>
                </div>
            </div> <!-- /.col -->

        </div> <!-- /.row -->

    </div> <!-- /.container -->
</section>
<!-- End Service -->
